<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4b0082" >
    <link rel="stylesheet" href="../css/main.css">
    <script defer src="https://stark-mountain-39904.herokuapp.com/socket.io/socket.io.js"></script>
    <!-- <script defer src="http://localhost:3000/socket.io/socket.io.js"></script> -->
    <script defer type="module" src="../js/app.js"></script>
    <script defer type="module" src="../js/resetpassword.js"></script>
    <title>ChatTV -  Reset your password</title>
</head>
<body>

    <div class="login">
        <h3>Password Reset</h3>
        <p>Enter your new password</p>
        <form class="login-form change-password-form" id="login-form">
            <div class="group-input">
                <label for="password">Password</label>
                <input type="password" id="password" required placeholder="Enter new password">
            </div>
            <div class="group-input">
                <small class="error" id="response"></small>
            </div>
            <div class="group-input">
                <button class="submit-btn">Reset</button>
            </div>
        </form>
    </div>

</body>
</html>